SettlersOfCatan/ClassLibrary1/obj/Debug/ClassLibrary1.csprojResolveAssemblyReference.cache
SettlersOfCatan/SettlersOfCatan/bin/Debug/SettlersOfCatan.vshost.exe.manifest
SettlersOfCatan/SettlersOfCatan.v11.suo
SettlersOfCatan/*.user
SettlersOfCatan/*.suo